<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Create Dummy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:insert="/header :: head"></div>
    </head>
    <body>
        <section class="container-fluid">
            <div class="mt-3 fw-bold text-center">Dummy Creating</div>
            <hr />
            <form action="/newdata" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>ID</td>
                        <td><input type="text" class="rounded ms-3" placeholder="Masukkan id" name="id"></td>
                    </tr>
                    <tr>
                        <td>Tanggal</td>
                        <td><input type="date" class="mt-3 ms-3" name="tanggal"></td>
                    </tr>
                    <tr>
                        <td>Foto</td>
                        <td><input type="file" class="mt-3 ms-3" name="gambar"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-primary mt-3 ms-3">Submit</button>
                            <a href="/read" class="btn btn-secondary ms-3 mt-3">Back</a>
                        </td>
                    </tr>
                </table>
            </form>
        </section>
    </body>
</html>
