<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Edit Data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="index.html">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/data">Database</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dummy">Dummy</a>
                        </li>
                </div>
            </div>
        </nav>
        <main class="py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header">Edit Data</div>
                            <div class="card-body">
                                <form action="/saveupdate" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" class="form-control" name="idupdate1" th:value="${dummy.id}">
                                    <div class="mb-3">
                                        <label class="form-label">ID</label>
                                        <input type="text" class="form-control" name="idupdate" th:value="${dummy.id}" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Tanggal Lahir</label>
                                        <input type="date" class="form-control" name="date" th:value="${#dates.format(dummy.tanggal, 'yyyy-MM-dd')}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Foto</label>
                                        <input type="file" class="form-control" id="gambar" name="gambar" th:value="@{dummy.gambar}">
                                    </div>
                                    <img th:src="@{'/gambar/' + ${dummy.id}}" class="mb-3 img-thumbnail col-md-2" id="thumbnail" alt="Gambar Preview"/>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                    <button class="btn btn-danger" type="button" onclick="window.location.href='/dummy'">Kembali</button>
                                </form>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </main>        
    </body>
    <script type="text/javascript">
        $(document).ready(function (){
            $('#gambar').change(function(){
                showImageThumbnail(this);
            });
        });
        function showImageThumbnail(inputgambar){
            file = inputgambar.files[0];
            reader = new FileReader();
            
            reader.onload = function(e){
                $('#thumbnail').attr('src',e.target.result);
            };
            
            reader.readAsDataURL(file);
        }
    </script>
</html>
